record(ai,"$(Chan)Vout-I") {
    field(DESC, "Measurement of Vout to heater")
    field(SCAN, "I/O Intr")
    field(DTYP, "EtherIP")
    field(INP,  "@$(PLC) $(Mod=V)_I$(Seq=_1)[$(ArrNum)] S 1")
    field(ASLO, "$(ASLO=1)")
    field(EGU,  "$(EGU=V)")
    field(AOFF, "$(AOFF=0)")
    field(PREC, "$(PREC=3)")
}
